# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.BD_CourseProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\repos\RiderProjects\BD_CourseProject\.idea\.idea.BD_CourseProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
